<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="Qentelli Group Final Assessment Suite">

    <!-- LISTENERS -->

    <listeners>

        <listener class-name=
        "com.qentelli.GroupFinalAssessment.listeners.TestListener"/>

        <listener class-name=
        "com.qentelli.GroupFinalAssessment.listeners.RetryListener"/>

    </listeners>

    <!-- ===================================== -->
    <!-- PARALLEL UI TESTS -->
    <!-- ===================================== -->

    <test name="UI Automation Tests"
          parallel="classes"
          thread-count="3">

        <classes>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.ui.RegistrationTest"/>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.ui.LoginTest"/>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.ui.OpenAccountTest"/>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.ui.TransferFundsTest"/>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.ui.TransactionHistoryTest"/>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.ui.NegativeTransferTest"/>

        </classes>

    </test>

    <!-- ===================================== -->
    <!-- SEQUENTIAL API TESTS -->
    <!-- ===================================== -->

    <test name="API Automation Tests">

        <classes>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.api.AuthApiTest"/>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.api.CreateUserApiTest"/>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.api.FetchUserApiTest"/>

        </classes>

    </test>

    <!-- ===================================== -->
    <!-- INTEGRATION TEST -->
    <!-- ===================================== -->

    <test name="Integration Test">

        <classes>

            <class name=
            "com.qentelli.GroupFinalAssessment.tests.integration.UiApiIntegrationTest"/>

        </classes>

    </test>

</suite>